<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="common/header-files :: head(title='Guardar cliente')"></div>       





    <body>
        <div th:replace="common/navbar :: navbar"></div>


        <form class="form-block" th:action="@{/clientes/form}" th:object="${customer}" method="POST">

            <h1 th:text="${customer.id != null and !#strings.isEmpty(customer.id) ? 'Editar Cliente' : 'Nuevo Cliente'}">
            </h1>

            <input type="hidden" th:field="*{id}">
            <input class="rounded" type="email" th:field="*{email}" placeholder="Email">
            <input class="rounded" type="password" th:field="*{password}" placeholder="Contraseña">
            <input class="rounded" type="text" th:field="*{name}" placeholder="Nombre">
            <input class="rounded" type="text" th:field="*{lastName}" placeholder="Apellido">
            <input class="rounded" type="text" th:field="*{phoneNumber}" placeholder="Número de teléfono">
            <input class="rounded"  type="text" th:field="*{idNumber}" placeholder="DNI">

            <button th:text="${customer.id != null && !#strings.isEmpty(customer.id) ? 'Guardar' : 'Crear'} "
                    class="btn btn-sm btn-info " type="submit "></button>
            <p class="text-danger" th:text="${errorMessage}"></p>
        </form>
    </body>

</html>