<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/header-files :: head(title='Perfil Cliente')"></head>

<body>
    <div th:replace="common/navbar :: navbar"></div>
    <div th:if="${errorMessage != null}">
        <h3 th:text="${errorMessage}"></h3>
    </div>

    <h1 th:text="${'Perfil de ' + customer.fullName }"></h1>

    <div th:insert="customers/fragments/loan-table :: customerLoans(${loans})"></div>


</body>

</html>