<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="fragments/header-files :: head(title='Préstamos')"></div>


    <body>

        <div th:replace="fragments/navbar :: navbar"></div>

        <div class="container p-4 d-flex flex-column">
            <div class="d-flex justify-content-between mb-3">
                <div>
                    <h1>Préstamos</h1>
                    <span class="mb-5 text-muted">Utilice este módulo para administrar la base de datos de prestamos</span>
                </div>
                <!--Instead of 'New' button, offer a list of customers, to select loans by customer--> 
                <!--             <a class="d-flex btn btn-info align-self-center" th:href="@{/prestamos/form}" disabled="true">Nuevo</a> -->
            </div>
            <hr>
            <div class="justify-content-end mt-3">
                <form th:action="@{/prestamos/search}" class="d-flex flex-row align-self-start">
                    <input type="search" name="keyword" class="form-control mb-10" placeholder="Cliente / Fecha Inicio / Fecha Fin / DNI">
                    <button type="submit" class=" btn ">Buscar</button>
                    <a th:href="@{/prestamos}" class="btn ">Limpiar</a>
                </form>
            </div>
            <div th:if="${#lists.isEmpty(loans)}">
                <h3>No hay préstamos para mostrar</h1>
            </div>
            <table th:unless="${#lists.isEmpty(loans)}" class="table table-hover">
                <p class="text-danger" th:text="${errorMessage}"></p>
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col" class="text-center">Fecha inicio</th>
                        <th scope="col" class="text-center">Fecha Fin</th>
                        <th scope="col" class="text-center">Libros</th>
                        <th scope="col" class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">Alta</th>
                        <th scope="col" class="text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">Editar</th>
                    </tr>
                </thead>
                <tbody th:each="loan: ${loans}">
                    <tr>
                        <td th:text="${loan.customer.name + ' ' + loan.customer.lastName}" />
                        <td class="text-center" th:text="${loan.startDate}" />
                        <td class="text-center" th:text="${loan.endDate}" />
                        <td class="text-center">
                            <a class="btn btn-info" th:href="@{/prestamos/form(customerId = __${loan.customer.id}__)}">Realizar préstamo</a>
                        </td>
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN')" class="text-center">
                            <a th:if="${loan.active}" th:href="@{/prestamos/baja/__${loan.id}__}"><i
                                    class="fas fa-check text-success"></i></a>
                            <a th:unless="${loan.active}" th:href="@{/prestamos/alta/__${loan.id}__}"><i
                                    class="fas fa-times text-danger"></i></a>
                        </td>
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN')" class="text-center">
                            <a th:href="@{prestamos/form(id =__${loan.id}__)}"><i class="far fa-edit text-warning"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

</html>